.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #000c18;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #000c18;
    transform: translate3d(0, 100%, 0);
    opacity: 80%;
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .potrait {
      width: 450px;
      height: 450px;
      background: url(/docs/img/profile-pic-2.png);
      border-radius: 50%;
      border: solid 3px #f5dd08; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #f5dd08; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    page-break-after: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #f5dd08;
      -moz-text-blink: 1; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #011931;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(/docs/img/office-bg.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(1, 25, 49, 0.2);
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0%;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #f5dd08; }

main {
  padding: 4rem;
  min-height: clac(100vh -60vh); }
  main .icons {
    transform: rotate(1turn);
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #f5dd08;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(/docs/img/profile-pic-small.png);
    border: #f5dd08 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #02264a;
    padding: 0.5rem;
    border-bottom: #f5dd08 5px solid; }

.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #011931 solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #f5dd08;
      transition: all 0.5s ease-out; }

.contact-body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Century Gothic;
  margin: 2rem auto;
  /* Text Input */
  /* FF 18 */
  /* FF 19+ */
  /* Submit Button */ }
  .contact-body .roundedborder, .contact-body form, .contact-body input[type='email'], .contact-body textarea, .contact-body input[type='submit'] {
    border-radius: 0.3em;
    background-clip: padding-box;
    border: 2px solid black; }
  .contact-body form {
    font-size: 1.2em;
    margin: 1rem auto;
    padding: 2em;
    width: 70%; }
  .contact-body input,
  .contact-body select,
  .contact-body textarea {
    outline: none; }
  .contact-body label {
    padding: 1rem .5em 0 .5em; }
  .contact-body input[type='email'] {
    background-color: #000c18;
    color: #f8e538;
    font-size: 1em;
    margin: .2em 0 1em;
    padding: .25em;
    width: 100%; }
  .contact-body ::-webkit-input-placeholder {
    color: #023363; }
  .contact-body :-moz-placeholder {
    color: #023363; }
  .contact-body ::-moz-placeholder {
    color: #023363; }
  .contact-body :-ms-input-placeholder {
    color: #023363; }
  .contact-body textarea {
    background-color: #000c18;
    color: #f8e538;
    font-size: 1em;
    height: 10em;
    margin: .5em 0 1em;
    padding: 1em;
    width: 100%; }
  .contact-body input[type='submit'] {
    border: 3px solid black;
    background-color: #02264a;
    cursor: pointer;
    color: #fffffd;
    float: right;
    font-size: 1em;
    padding: .25em 1em;
    text-shadow: .1em .1em .2em #4d3c0e; }
  .contact-body input[type='submit']:hover {
    background-color: #dcc707; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #f5dd08;
    color: #111; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #3699fb;
  color: #333; }

.cv-pdf, iframe {
  margin: 0 auto; }

.cv-container {
  width: 90%;
  max-width: 1171px;
  margin: 0 auto; }
  .cv-container::after {
    content: '';
    display: table;
    clear: both; }

#cv-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }
  #cv-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 3px;
    background: #dcc707; }

.cv-timeline-block {
  position: relative;
  margin: 2em 0; }
  .cv-timeline-block:before, .cv-timeline-block:after {
    content: "";
    display: table; }
  .cv-timeline-block:after {
    clear: both; }
  .cv-timeline-block:first-child {
    margin-top: 0; }
  .cv-timeline-block.last-child {
    margin-bottom: 0; }

.cv-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #f5dd08, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }
  .cv-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px; }
  .cv-timeline-img.cv-picture {
    background: #4ec; }
  .cv-timeline-img.cv-movie {
    background: #26e226; }
  .cv-timeline-img.cv-location {
    background: #da29e0; }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  60% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.cv-timeline-content {
  position: relative;
  margin: 60px;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 0 3px 0 #dcc707; }
  .cv-timeline-content:before, .cv-timeline-content:after {
    content: "";
    display: table; }
  .cv-timeline-content:after {
    clear: both; }
  .cv-timeline-content p,
  .cv-timeline-content .cv-read-more,
  .cv-timeline-content .cv-date {
    font-size: 13px; }
  .cv-timeline-content .cv-read-more,
  .cv-timeline-content .cv-date {
    display: inline; }
  .cv-timeline-content p {
    margin: 1rem 0;
    line-height: 1.6; }
  .cv-timeline-content .cv-read-more {
    float: right;
    padding: .8em 1em;
    background: #02264a;
    border-radius: 0.25em; }
    .no-touch .cv-timeline-content .cv-read-more:hover {
      background-color: #02264a; }
  .cv-timeline-content .cv-date {
    float: left;
    padding: .8em 0;
    opacity: .7; }
  .cv-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #f5dd08; }

#main-footer {
  text-align: center;
  padding: 1rem;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
  .cv-container {
    width: 90%;
    margin: 0 auto; }
    .cv-container::after {
      content: '';
      display: table;
      clear: both; }
  #cv-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }
    #cv-timeline::before {
      left: 50%;
      margin-left: 0; }
  .cv-timeline-block {
    margin: 4em 0 4em; }
    .cv-timeline-block:first-child {
      margin-top: 0; }
    .cv-timeline-block:last-child {
      margin-bottom: 0; }
  .cv-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden; }
    .cssanimations .cv-timeline-img.is-hidden {
      visibility: hidden; }
    .cssanimations .cv-timeline-img.bounce-in {
      visibility: visible;
      animation: cd-bounce-1 .6s; }
  .cv-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* inverse bounce effect on even content blocks */ }
    .cv-timeline-content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #f5dd08; }
    .cv-timeline-content .cv-read-more {
      float: left; }
    .cv-timeline-content .cv-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 16px; }
    .cv-timeline-block:nth-child(even) .cv-timeline-content {
      float: right;
      margin-right: 0;
      padding: 1.6em;
      width: 45%; }
      .cv-timeline-block:nth-child(even) .cv-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #f5dd08; }
      .cv-timeline-block:nth-child(even) .cv-timeline-content .cv-read-more {
        float: right; }
      .cv-timeline-block:nth-child(even) .cv-timeline-content .cv-date {
        left: auto;
        right: 122%;
        text-align: right; }
    .cssanimations .cv-timeline-content.is-hidden {
      visibility: hidden; }
    .cssanimations .cv-timeline-content.bounce-in {
      visibility: visible;
      animation: cv-bounce-2 .6s; }
    .cv-timeline-content .cssanimations .cv-timeline-block:nth-child(even) .cv-timeline-content.bounce-in {
      animation: cv-bounce-2-inverse .6s; }
  @keyframes cv-bounce-2 {
    0% {
      opacity: 0;
      transform: translateX(-100px); }
    60% {
      opacity: 1;
      transform: translateX(20px); }
    100% {
      transform: translateX(0); } }
  @keyframes cv-bounce-2-inverse {
    0% {
      opacity: 0;
      transform: translateX(100px); }
    60% {
      opacity: 1;
      transform: translateX(-20px); }
    100% {
      transform: translateX(0); } } }

@media screen and (min-width: 769px) and (max-width: 1171px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  h2 {
    font-size: 20px; }
  p {
    font-size: 16px; }
  .cd-read-more,
  .cd-date {
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .potrait {
      background: url(/docs/img/profile-pic-small.png);
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; } }
